::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;   
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
    border-radius: 5px;   
}