<div class="container-lg justify-content-center" style="max-height: 720px">
    <div class="spinner-border mt-4 justify-content-center align-items-center" role="status" [hidden]="!isFetchingDevices"><span class="visually-hidden">Loading...</span></div>
    <div class="row" style="max-height: 100%">
        <div class="col-lg-3 d-flex flex-column p-4 m-1 overflow-auto" style="max-height: 720px; overflow-y:hidden;">  
            <div class="row" *ngFor="let device of deviceConfigs" (click)="showConfig(device.name)"><button class="btn btn-outline-primary deviceButton"><h4>{{device.name}} <small class="text-dark"> {{device.host}}</small></h4></button></div>
            <div class="align-items-center mt-3">
                <button type="button" class="btn btn-primary" (click)="open(addDeviceModal)">Add device</button>
            </div>
            <div class="align-items-center mt-3">
              <button type="button" class="btn btn-primary" (click)="getRunningConfigs()">Refresh list</button>
          </div>
        </div>
        <div class="col-lg-6 d-flex flex-column p-4 justify-content-center overflow-auto" style="max-height: 720px;">
            <div class="row" [innerText]="currentConfig" style="max-height: 720px;"></div>
        </div>
        <div class="col-lg-2 d-flex flex-column p-4" style="max-height: 720px;">
          Name:{{currentName}}<br>
          Host:{{currentHost}}<br>
          Device Type:{{currentDeviceType}}<br>
          Username:{{currentUsername}}<br>
          Password:{{currentPassword}}<br>
          Secret:{{currentSecret}}<br>
      </div>
    </div>
</div>

<ng-template #addDeviceModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add device</h4>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body d-flex justify-content-center flex-column align-items-center">
      <label class="form-label">Device Type</label>
      <select class="form-select" [(ngModel)]="deviceType">
        <option value="router">router</option>
        <option value="switch">switch</option>
      </select>
      <label class="form-label">Device Name</label>
      <input class="form-control" [(ngModel)]="deviceName" />
      <label class="form-label">Username</label>
      <input class="form-control" [(ngModel)]="username" />
      <label class="form-label">Password</label>
      <input class="form-control" [(ngModel)]="password" />
      <label class="form-label">Host</label>
      <input class="form-control" [(ngModel)]="host" />
      <label class="form-label">Secret</label>
      <input class="form-control" [(ngModel)]="secret" />
    </div>
    <div class="modal-footer">
      <button type="button" [hidden]="isLoading" class="btn btn-outline-dark" (click)="trySaveDevice()">Save device</button>
      <button type="button" [hidden]="!isLoading" class="btn btn-outline-dark">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
</ng-template>
<div style="position: absolute; bottom: 30px; right: 20px;">
  <ngb-toast class="bg-success bottom-0 end-0 postion-fixed" *ngIf="showSuccess" header="Successfully added" [autohide]="true" (hidden)="showSuccess=false">
    Device has been added to database
  </ngb-toast>
  <ngb-toast class="bg-danger bottom-0 end-0 postion-fixed" *ngIf="showError" header="Error during adding process" [autohide]="true" (hidden)="showError=false">
    Given data is probably wrong or device is unreachable
  </ngb-toast>
</div>
