.deviceButton {
    border: 1px;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;   
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;   
}
